<h1 class="text-center mb-5 mt-5"> Gateway details</h1>
<div class="mb-5 ">
  <h3>Serial: {{gateway?.serial}}</h3>
</div>
<div class="mb-5 ">
  <h3>Name: {{gateway?.name}}</h3>
</div>
<div class="mb-5 ">
  <h3>Ip: {{gateway?.ip}}</h3>
</div>
<div class="mb-2">
    <a class="btn btn-primary" [routerLink]="['/add-device', gateway?.serial]" >Add Device</a>
  </div>
<h5>Devices</h5>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">vendor</th>
        <th scope="col">status</th>
        <th scope="col">uid</th>
        <th scope="col">createdAt</th>
        <th scope="col">actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of gateway?.devices; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ device.vendor }}
        </td>
        <td>{{ device.status }}</td>
        <td>{{ device.uid  }}</td>
        <td>{{ device.createdDate | date  }}</td>
        <td>
          <div class="action-wrapper">
            <span >
              <i class="fa fa-trash" (click)="deleteDevice(gateway.serial, device.uid)" ></i>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
