<h1 class="text-center mb-5 mt-5">Getways</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">serial</th>
      <th scope="col">ip</th>
      <th scope="col">name</th>
      <th scope="col">createdAt</th>
      <th scope="col">actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let getway of getways; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ getway.serial }}
      </td>
      <td>{{ getway.ip }}</td>
      <td>{{ getway.name  }}</td>
      <td>{{ getway.createdAt | date  }}</td>
      <td>
        <div class="action-wrapper">
          <span (click)="delete(getway)">
            <i class="fa fa-trash" ></i>
          </span>
          <span class="ml-3">
            <i class="fa fa-eye" [routerLink]="['/getway-details', getway.serial]"></i> </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="mb-5 mt-5">
  <a class="btn btn-primary" [routerLink]="['/add-getway']" >Add getway</a>
</div>
